# Many of these may need you to manually run configure, make and make install

 numpy
scipy

#pandas
#statsmodels
-e git+https://github.com/wesm/pandas#egg=pandas
-e git+https://github.com/statsmodels/statsmodels#egg=statsmodels

matplotlib

#IPython
ipython
sip
pyqt
tornado
pygments
pyzmq

#mongo drivers
-e hg+ssh://hg@bitbucket.org/djcbeach/monary@e5b54a49d08bcbfcb7a1a7f503fd569f1c99a711#egg=Monary-dev
pymongo

#numexpr
#cython
#tables
